/* Enhancing Navbar Styles */
.navbar {
    background-color: #798a9c; /* Dark background */
    transition: background-color 0.3s ease;
  }
  
  .navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  .navbar .navbar-toggler {
    border-color: #ffffff;
  }
  
  .navbar .navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
   
  }
  
  /* Hover Effects for Links */
  .navbar .navbar-nav .nav-link:hover {
     color: #ffffff;
   border-bottom: 2px solid #ffffff;
  }
  
  /* Responsive navbar adjustments */
  @media (max-width: 991px) {
    .navbar {
      padding: 0.5rem;
    }

      .navbar .navbar-nav .nav-link {
    color: #ffffff;
  }
  
    .navbar .navbar-nav .nav-link {
      font-size: 1rem;
    }
  }
  